.numberbox-size() {
  border-radius: var(--numberbox-radius);
  width: var(--numberbox-width);
  height: var(--numberbox-height);

  .lyrixi-numberbox-button {
    width: var(--numberbox-button-width);
  }

  .lyrixi-numberbox-button,
  .lyrixi-input-node {
    font-size: var(--numberbox-font-size);
  }
}

.lyrixi-numberbox.lyrixi-xl {
  --numberbox-radius: var(--lyrixi-radius-xl);
  --numberbox-width: 198px;
  --numberbox-height: 48px;
  --numberbox-button-width: 44px;
  --numberbox-font-size: var(--lyrixi-font-size-l);
  .numberbox-size();
}

.lyrixi-numberbox.lyrixi-l {
  --numberbox-radius: var(--lyrixi-radius-l);
  --numberbox-width: 168px;
  --numberbox-height: 40px;
  --numberbox-button-width: 32px;
  --numberbox-font-size: var(--lyrixi-font-size-m);
  .numberbox-size();
}

.lyrixi-numberbox.lyrixi-m {
  --numberbox-radius: var(--lyrixi-radius-m);
  --numberbox-width: 148px;
  --numberbox-height: 32px;
  --numberbox-button-width: 28px;
  --numberbox-font-size: var(--lyrixi-font-size-s);
  .numberbox-size();
}

.lyrixi-numberbox.lyrixi-s {
  --numberbox-radius: var(--lyrixi-radius-s);
  --numberbox-width: 128px;
  --numberbox-height: 24px;
  --numberbox-button-width: 20px;
  --numberbox-font-size: var(--lyrixi-font-size-xs);
  .numberbox-size();
}

.lyrixi-numberbox.lyrixi-xs {
  --numberbox-radius: var(--lyrixi-radius-xs);
  --numberbox-width: 128px;
  --numberbox-height: 20px;
  --numberbox-button-width: 16px;
  --numberbox-font-size: var(--lyrixi-font-size-xs);
  .numberbox-size();
}

.lyrixi-numberbox-button {
  height: 100%;
}

.lyrixi-numberbox-button {
  flex: none;
  line-height: 100%;
}

.lyrixi-numberbox {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
  text-align: center;
  vertical-align: middle;
  background-color: white;
  border: 1px solid var(--lyrixi-border-color);
  box-sizing: border-box;
}

// 文本框
.lyrixi-numberbox-input {
  .lyrixi-input-node {
    .lyrixi-input-text {
      text-align: center;
      text-overflow: ellipsis;
    }

    .lyrixi-input-formatter {
      text-align: center;
    }
  }
}

// 按钮
.lyrixi-numberbox-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 26px;

  font-size: 14px;
  background-color: white;
  border-width: 0;
}

.lyrixi-numberbox-button-minus {
  left: 0;
  color: var(--lyrixi-color-primary);
  border-right: 1px solid var(--lyrixi-border-color);
  background-color: #f3f4f5;

  &[disabled] {
    color: #ccc;
  }
}

.lyrixi-numberbox-button-plus {
  right: 0;
  color: white;
  background-color: var(--lyrixi-color-primary);
  border-left: 1px solid var(--lyrixi-color-primary);

  &[disabled] {
    opacity: 0.6;
  }
}

.lyrixi-numberbox-button-minus-icon,
.lyrixi-numberbox-button-plus-icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.lyrixi-numberbox[disabled] {
  pointer-events: none;

  .lyrixi-numberbox-button-minus {
    color: #ccc;
  }

  .lyrixi-numberbox-button-plus {
    opacity: 0.6;
  }
}
