@import 'SearchControl/CascaderSearchControl.less';

.lyrixi-cascader-page {
  position: relative;
  background-color: white !important;
  flex: 1;
}

.lyrixi-cascader-main {
  position: relative;
  overflow: auto;
  .lyrixi-flex-1;
}

.lyrixi-cascader-list-divider {
  background-color: var(--lyrixi-bg-divider);
  padding: var(--lyrixi-space-s) var(--lyrixi-space-xl);
  font-size: var(--lyrixi-font-size-s);
}