.lyrixi-list-main {
  // 里面的Result flex默认为1, 此样式使Result撑满整个容器
  display: flex;
  flex-direction: column;
}

.lyrixi-list-divider {
  margin: 0 12px;
}

.lyrixi-list-item {
  margin: 0 12px;
}

// Main message
.lyrixi-list-main-result {
  // Error Info
}