.lyrixi-form-item-label {
  display: flex;
  position: relative;
  vertical-align: middle;
  overflow: hidden;
  color: #6a737c;
}

.lyrixi-form-item-label-text {
  font-size: var(--lyrixi-font-size-l);
  vertical-align: middle;
}

.lyrixi-form-item-required {
  font-family: SimSun, sans-serif;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  vertical-align: middle;
  color: var(--lyrixi-color-danger);
  height: 20px;
}

.lyrixi-form-item-help {
  display: inline-flex;
  vertical-align: middle;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  margin: 0 2px;
}
