// Button按钮
// 基础样式
.lyrixi-button {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
  box-sizing: border-box;

  // Disabled events
  &[disabled],
  &.lyrixi-disabled {
    pointer-events: none;
    opacity: 0.5;
  }

  // 等宽高
  &.lyrixi-size-equal {
    padding: 0;
  }

  // 高度大小
  &.lyrixi-size-xs {
    height: var(--lyrixi-height-xs);
    padding: 0 4px;
    font-size: var(--lyrixi-font-size-xs);

    &.lyrixi-size-equal {
      width: var(--lyrixi-height-xs);
    }
  }

  &.lyrixi-size-s {
    height: var(--lyrixi-height-s);
    padding: 0 8px;
    font-size: var(--lyrixi-font-size-s);

    &.lyrixi-size-equal {
      width: var(--lyrixi-height-s);
    }
  }

  &.lyrixi-size-m {
    height: var(--lyrixi-height-m);
    padding: 0 12px;
    font-size: var(--lyrixi-font-size-m);

    &.lyrixi-size-equal {
      width: var(--lyrixi-height-m);
    }
  }

  &.lyrixi-size-l {
    height: var(--lyrixi-height-l);
    padding: 0 16px;
    font-size: var(--lyrixi-font-size-l);

    &.lyrixi-size-equal {
      width: var(--lyrixi-height-l);
    }
  }

  &.lyrixi-size-xl {
    height: var(--lyrixi-height-xl);
    padding: 0 20px;
    font-size: var(--lyrixi-font-size-xl);

    &.lyrixi-size-equal {
      width: var(--lyrixi-height-xl);
    }
  }

  &.lyrixi-size-xxl {
    height: var(--lyrixi-height-xxl);
    padding: 0 24px;
    font-size: var(--lyrixi-font-size-xxl);

    &.lyrixi-size-equal {
      width: var(--lyrixi-height-xxl);
    }
  }
}

.lyrixi-button-block {
  display: flex;
  flex: 1;
}

// Icon
.lyrixi-button-icon {
  color: currentColor;
}

.lyrixi-button:not(.lyrixi-flex-vertical) {

  .lyrixi-button-icon+.lyrixi-button-text,
  .lyrixi-button-text+.lyrixi-button-icon {
    margin-left: 4px;
  }
}

.lyrixi-button.lyrixi-flex-vertical {

  .lyrixi-button-icon+.lyrixi-button-text,
  .lyrixi-button-text+.lyrixi-button-icon {
    margin-top: 4px;
  }
}