// Button按钮
// 基础样式
.lyrixi-button {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
  box-sizing: border-box;

  // Disabled events
  &[disabled],
  &.lyrixi-disabled {
    pointer-events: none;
    opacity: 0.5;
  }

  // 高度大小
  .button-size() {
    height: var(--button-height);
    padding: 0 var(--button-padding-x);
    font-size: var(--button-font-size);

    &.lyrixi-size-equal {
      width: var(--button-height);
      padding: 0;
    }
  }

  &.lyrixi-size-xs {
    --button-height: var(--lyrixi-height-xs);
    --button-padding-x: 4px;
    --button-font-size: var(--lyrixi-font-size-xs);
    .button-size();
  }

  &.lyrixi-size-s {
    --button-height: var(--lyrixi-height-s);
    --button-padding-x: 8px;
    --button-font-size: var(--lyrixi-font-size-s);
    .button-size();
  }

  &.lyrixi-size-m {
    --button-height: var(--lyrixi-height-m);
    --button-padding-x: 12px;
    --button-font-size: var(--lyrixi-font-size-m);
    .button-size();
  }

  &.lyrixi-size-l {
    --button-height: var(--lyrixi-height-l);
    --button-padding-x: 16px;
    --button-font-size: var(--lyrixi-font-size-l);
    .button-size();
  }

  &.lyrixi-size-xl {
    --button-height: var(--lyrixi-height-xl);
    --button-padding-x: 20px;
    --button-font-size: var(--lyrixi-font-size-xl);
    .button-size();
  }

  &.lyrixi-size-xxl {
    --button-height: var(--lyrixi-height-xxl);
    --button-padding-x: 24px;
    --button-font-size: var(--lyrixi-font-size-xxl);
    .button-size();
  }
}

.lyrixi-button-block {
  display: flex;
  flex: 1;
}

// Icon
.lyrixi-button-icon {
  color: currentColor;
}

.lyrixi-button:not(.lyrixi-flex-vertical) {

  .lyrixi-button-icon+.lyrixi-button-text,
  .lyrixi-button-text+.lyrixi-button-icon {
    margin-left: 4px;
  }
}

.lyrixi-button.lyrixi-flex-vertical {

  .lyrixi-button-icon+.lyrixi-button-text,
  .lyrixi-button-text+.lyrixi-button-icon {
    margin-top: 4px;
  }
}