.lyrixi-text {
}

// 高亮
.lyrixi-text-highlight {
  display: inline-block;
  color: var(--lyrixi-primary);
  line-height: 24px;
  user-select: none;
}

// 省略
.lyrixi-text-ellipsis-toggle {
  display: inline-block;
  color: var(--lyrixi-info);
  margin-left: 2px;
  font-size: var(--lyrixi-font-size-s);
}
