@import 'Ellipsis/TextEllipsis.less';

// 只有flex布局, 才能让lyrixi-text-content::before高度撑满lyrixi-text-content
.lyrixi-text {
  display: flex;
}

// 高亮
.lyrixi-text-highlight {
  display: inline-block;
  color: var(--lyrixi-primary);
}