/*
后置公共样式, 因为需要覆盖样式(例如hide等), 所以放在最后加载-----------------------------------------------------------------------------------------
*/

// 点击穿透
.lyrixi-events-none {
  pointer-events: none;
}

// 禁止长按选择
.lyrixi-noselect {
  -webkit-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
}

// 去除动画
.lyrixi-transition-duration-0 {
  transition-duration: 0ms;
}
.lyrixi-animation-duration-0 {
  animation-duration: 0ms;
}

// block
.lyrixi-block {
  display: block;
}
.lyrixi-inline-block {
  display: block;
}
.lyrixi-width-full {
  width: 100%;
}
.lyrixi-height-full {
  height: 100%;
}

// Flex
.lyrixi-flex {
  display: flex;
}
.lyrixi-inline-flex {
  display: inline-flex;
}
.lyrixi-flex-initial {
  flex: initial;
}
.lyrixi-flex-0 {
  flex: 0;
}
.lyrixi-flex-none {
  flex: none;
}
.lyrixi-flex-1 {
  flex: 1;
}
.lyrixi-flex-wrap {
  flex-wrap: wrap;
}
.lyrixi-flex-vertical {
  // flex方向
  flex-direction: column;
}
.lyrixi-flex-horizontal {
  flex-direction: row;
}
.lyrixi-flex-vertical-reverse {
  flex-direction: column-reverse;
}
.lyrixi-flex-horizontal-reverse {
  flex-direction: row-reverse;
}
.lyrixi-flex-left {
  // flex内部水平对齐
  justify-content: flex-start;
}
.lyrixi-flex-center {
  justify-content: center;
}
.lyrixi-flex-right {
  justify-content: flex-end;
}
.lyrixi-flex-between {
  justify-content: space-between;
}
.lyrixi-flex-around {
  justify-content: space-around;
}
.lyrixi-flex-top {
  // flex内部垂直对齐
  align-items: flex-start;
}
.lyrixi-flex-middle {
  align-items: center;
}
.lyrixi-flex-bottom {
  align-items: flex-end;
}
.lyrixi-flex-stretch {
  align-items: stretch;
}
.lyrixi-flex-middlecenter {
  align-items: center;
  // flex对齐方式
  justify-content: center;
}
.lyrixi-flex-baseline {
  // 垂直居中对齐
  align-items: baseline;
}

.lyrixi-flex-shrink > div {
  flex-shrink: 0;
  width: 100%;
  transform-style: preserve-3d;
}

.lyrixi-flex-self-stretch {
  // flex自身对齐:设置后则覆盖父容器
  align-self: stretch;
}
.lyrixi-flex-self-top {
  align-self: flex-start;
}
.lyrixi-flex-self-middle {
  align-self: center;
}
.lyrixi-flex-self-bottom {
  align-self: flex-end;
}

// 显示与隐藏
.lyrixi-hide {
  display: none;
}
.lyrixi-hide-important {
  display: none !important;
}
.lyrixi-hidden {
  visibility: hidden;
}
.lyrixi-hidden-important {
  visibility: hidden !important;
}
.lyrixi-overflow-hidden,
.lyrixi-container.lyrixi-overflow-hidden {
  overflow: hidden;
}
.lyrixi-overflow-auto,
.lyrixi-container.lyrixi-overflow-auto {
  overflow: auto;
}

// 定位
.lyrixi-position-absolute {
  position: absolute;
  &.lyrixi-full {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 0;
  }
}
.lyrixi-position-relative {
  position: relative;
}

// 清除浮动
.lyrixi-clearfix:before,
.lyrixi-clearfix:after {
  display: table;
  content: ' ';
}
.lyrixi-clearfix:after {
  clear: both;
}
.lyrixi-clearfix {
  zoom: 1;
}
.lyrixi-clear {
  clear: both;
}

// 文字换行
.lyrixi-white-space-nowrap {
  white-space: nowrap;
}
.lyrixi-ellipsis {
  text-overflow: ellipsis;
}
.lyrixi-nowrap:extend(.lyrixi-ellipsis),
.lyrixi-nowrap1:extend(.lyrixi-ellipsis),
.lyrixi-nowrap2:extend(.lyrixi-ellipsis),
.lyrixi-nowrap3:extend(.lyrixi-ellipsis) {
  overflow: hidden;
}
.lyrixi-nowrap {
  white-space: nowrap;
}
.lyrixi-nowrap1,
.lyrixi-nowrap2,
.lyrixi-nowrap3 {
  /* autoprefixer: off */
  display: -webkit-box;
  -webkit-box-orient: vertical;
}
.lyrixi-nowrap1 {
  -webkit-line-clamp: 1;
}
.lyrixi-nowrap2 {
  -webkit-line-clamp: 2;
}
.lyrixi-nowrap3 {
  -webkit-line-clamp: 3;
}

// 文字排列
.lyrixi-text-center {
  text-align: center;
}
.lyrixi-text-right {
  text-align: right;
}
.lyrixi-text-left {
  text-align: left;
}

// 加粗
.lyrixi-font-weight-bold {
  font-weight: bold;
}
.lyrixi-font-weight-medium {
  font-weight: 500;
}

@import 'size.less';
@import 'border.less';
@import 'color.less';
