// Bg背景
.lyrixi-bg-avatar-default {
  background-image: url(https://lyrixi.github.io/lyrixi-mobile/assets/images/list/avatar-default.png);
}

.lyrixi-bg-image-default {
  background-image: url(https://lyrixi.github.io/lyrixi-mobile/assets/images/list/image-default.png);
}

&.lyrixi-bg-wechat-logo {
  background-image: url('https://lyrixi.github.io/lyrixi-mobile/assets/images/share/wechat.png');
}

.lyrixi-bg-miniprogram-logo {
  background-image: url('https://lyrixi.github.io/lyrixi-mobile/assets/images/share/miniprogram.png');
}

.lyrixi-bg-wecom-logo {
  background-image: url('https://lyrixi.github.io/lyrixi-mobile/assets/images/share/wecom.png');
}

.lyrixi-bg-moments-logo {
  background-image: url('https://lyrixi.github.io/lyrixi-mobile/assets/images/share/moments.png');
}

.lyrixi-bg-dingtalk-logo {
  background-image: url('https://lyrixi.github.io/lyrixi-mobile/assets/images/share/dingtalk.png');
}

.lyrixi-bg-lark-logo {
  background-image: url('https://lyrixi.github.io/lyrixi-mobile/assets/images/share/lark.png');
}
