// 实体样式
&.lyrixi-checkbox-icon-filled {
  line-height: 14px;
  background-color: var(--lyrixi-bg-default);
  border-radius: 100%;

  &.lyrixi-checked {
    border: 0;
    color: var(--lyrixi-color-primary);
  }
}
