// 实体样式
&.lyrixi-checkbox-icon-outlined {
  line-height: 14px;
  border: 1px solid #ced2d8;
  border-radius: 100%;

  &.lyrixi-checked {
    border-color: var(--lyrixi-color-primary);
    color: var(--lyrixi-color-primary);
  }
}
