// 实体样式
&.lyrixi-checkbox-icon-solid {
  line-height: 14px;
  border: 1px solid #ced2d8;
  border-radius: 100%;

  &.lyrixi-checked {
    border: 0;
    background-color: var(--lyrixi-color-primary);
    color: white;
  }
}
