.lyrixi-list-main {
  display: flex;
  flex-direction: column;
  // 标题每项的间距
  .lyrixi-list > .lyrixi-list-divider {
    margin: 0 12px;
  }
  // 列表每项的间距
  .lyrixi-list > .lyrixi-list-item {
    margin: 0 12px;
  }
}

// Main message
.lyrixi-list-main-result {
  // Error Info
}
