// 开关控件
.lyrixi-switch {
  position: relative;
  display: inline-block;
  border-radius: 20px;
  transition-duration: 200ms;
  transition-property: background-color, border;
}

.lyrixi-switch.lyrixi-readOnly,
.lyrixi-switch.lyrixi-disabled {
  pointer-events: none;
  opacity: 0.6;
}

// 圆点
.lyrixi-switch-handle {
  position: absolute;
  top: 1px;
  left: 1px;

  background-color: white;
  border-radius: 100px;
  transition-duration: 200ms;
  transition-property: left;
  pointer-events: none;
}

// Texts
.lyrixi-switch {
  &:not(.lyrixi-active) {
    background-color: #a8b1b9;

    .lyrixi-switch-on {
      visibility: hidden;
    }
  }

  &.lyrixi-active {
    background-color: var(--lyrixi-color-primary);

    .lyrixi-switch-off {
      visibility: hidden;
    }
  }
}

.lyrixi-switch-inner {
  height: 100%;
  overflow: hidden;
}

.lyrixi-switch-on,
.lyrixi-switch-off {
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  font-size: var(--lyrixi-font-size-s);
}

// Size
.switch-size(@height, @min-width) {
  height: @height;

  .lyrixi-switch-on,
  .lyrixi-switch-off {
    min-width: @min-width;
  }

  .lyrixi-switch-off {
    margin-top: -@height;
  }

  .lyrixi-switch-handle {
    height: calc(@height - 2px);
    width: calc(@height - 2px);
  }

  &:not(.lyrixi-active) {
    .lyrixi-switch-handle {
      left: 1px;
    }

    .lyrixi-switch-inner {
      padding-left: calc(@height + 2px);
      padding-right: 0;
    }
  }

  &.lyrixi-active {
    .lyrixi-switch-handle {
      left: calc(100% - @height);
    }

    .lyrixi-switch-inner {
      padding-left: 0;
      padding-right: calc(@height + 2px);
    }
  }
}

.lyrixi-switch.lyrixi-xs {
  .switch-size(var(--lyrixi-icon-size-xs), var(--lyrixi-icon-size-xs));
}
.lyrixi-switch.lyrixi-s {
  .switch-size(var(--lyrixi-icon-size-s), var(--lyrixi-icon-size-s));
}
.lyrixi-switch.lyrixi-m {
  .switch-size(var(--lyrixi-icon-size-m), var(--lyrixi-icon-size-m));
}
.lyrixi-switch.lyrixi-l {
  .switch-size(var(--lyrixi-icon-size-l), var(--lyrixi-icon-size-l));
}
.lyrixi-switch.lyrixi-xl {
  .switch-size(var(--lyrixi-icon-size-xl), var(--lyrixi-icon-size-xl));
}
.lyrixi-switch.lyrixi-xxl {
  .switch-size(var(--lyrixi-icon-size-xxl), var(--lyrixi-icon-size-xxl));
}
.lyrixi-switch.lyrixi-xxxl {
  .switch-size(var(--lyrixi-icon-size-xxxl), var(--lyrixi-icon-size-xxxl));
}
