// DatePicker.Type
.lyrixi-datepicker-types {
  .lyrixi-flex;
  .lyrixi-flex-align-center;
  .lyrixi-flex-wrap;
  .lyrixi-flex-justify-space-between;
  // 换行间隙
  gap: 8px;

  .lyrixi-datepicker-types-previous,
  .lyrixi-datepicker-types-next {
    width: 26px;
    height: 26px;
    color: var(--lyrixi-font-color-secondary);
    font-size: 10px;
  }
}
.lyrixi-datepicker-types-combo {
  .lyrixi-flex;
  .lyrixi-flex-justify-flex-end;
  .lyrixi-flex-align-center;
}
.lyrixi-datepicker-types-date {
  display: block;
  flex: none;
}
