@import 'ToolBar/ToolBar.less';
@import 'Dropdown/ToolBarDropdown.less';
@import 'DateRange/ToolBarDateRange.less';
@import 'Button/ToolBarButton.less';
@import 'Search/ToolBarSearch.less';
@import 'SearchActive/ToolBarSearchActive.less';

// 反向颜色改搜索框颜色
.lyrixi-toolbar.lyrixi-toolbar-filled {
  background-color: var(--toolbar-filled-bg);

  .lyrixi-toolbar-search-bar-active {
    background-color: var(--toolbar-filled-bg);
  }

  .lyrixi-toolbar-search-input {
    background-color: var(--toolbar-filled-search-input-bg);
  }
}
