.lyrixi-form-item {
  padding: var(--lyrixi-space-l) 0;
  position: relative;
  .lyrixi-border-b();
}

.lyrixi-form-item-layout-horizontal {
  .lyrixi-form-item-label {
    padding-right: var(--lyrixi-space-m);
  }

  .lyrixi-form-item-main {
    padding-right: var(--lyrixi-space-m);
  }
}

.lyrixi-form-item-layout-vertical {
  .lyrixi-form-item-label:not(.lyrixi-hide) + .lyrixi-form-item-main {
    margin-top: var(--lyrixi-space-s);
  }

  .lyrixi-form-item-main {
    padding-right: var(--lyrixi-space-m);
  }
}
