.lyrixi-form-item {
  padding: var(--lyrixi-space-l) 0;
  position: relative;
  .lyrixi-border-b();

  // 表单内文本框高度减小
  .lyrixi-input.lyrixi-l {
    padding: 0;
    .lyrixi-input-text {
      height: 20px;
    }
    .lyrixi-input-autoSize-textarea,
    .lyrixi-input-autoSize-pre,
    .lyrixi-input-formatter {
      min-height: 20px;
      padding: 0;
    }
    .lyrixi-input-textarea {
      height: 40px;
      padding: 0;
    }
  }
}

.lyrixi-form-item-layout-horizontal {
  .lyrixi-form-item-label {
    padding-right: var(--lyrixi-space-m);
  }

  .lyrixi-form-item-main {
    padding-right: var(--lyrixi-space-m);
  }
}

.lyrixi-form-item-layout-vertical {
  .lyrixi-form-item-label:not(.lyrixi-hide) + .lyrixi-form-item-main {
    margin-top: var(--lyrixi-space-s);
  }

  .lyrixi-form-item-main {
    padding-right: var(--lyrixi-space-m);
  }
}
