// icon 图标
.lyrixi-icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  // Disabled events
  &[disabled],
  &.lyrixi-disabled {
    pointer-events: none;
    opacity: 0.3;
  }

  // Size
  &.lyrixi-size-xxxxs {
    width: var(--lyrixi-icon-size-xxxxs);
    height: var(--lyrixi-icon-size-xxxxs);
    font-size: var(--lyrixi-icon-size-xxxxs);
  }
  &.lyrixi-size-xxxs {
    width: var(--lyrixi-icon-size-xxxs);
    height: var(--lyrixi-icon-size-xxxs);
    font-size: var(--lyrixi-icon-size-xxxs);
  }

  &.lyrixi-size-xxs {
    width: var(--lyrixi-icon-size-xxs);
    height: var(--lyrixi-icon-size-xxs);
    font-size: var(--lyrixi-icon-size-xxs);
  }

  &.lyrixi-size-xs {
    width: var(--lyrixi-icon-size-xs);
    height: var(--lyrixi-icon-size-xs);
    font-size: var(--lyrixi-icon-size-xs);
  }

  &.lyrixi-size-s {
    width: var(--lyrixi-icon-size-s);
    height: var(--lyrixi-icon-size-s);
    font-size: var(--lyrixi-icon-size-s);
  }

  &.lyrixi-size-m {
    width: var(--lyrixi-icon-size-m);
    height: var(--lyrixi-icon-size-m);
    font-size: var(--lyrixi-icon-size-m);
  }

  &.lyrixi-size-l {
    width: var(--lyrixi-icon-size-l);
    height: var(--lyrixi-icon-size-l);
    font-size: var(--lyrixi-icon-size-l);
  }

  &.lyrixi-size-xl {
    width: var(--lyrixi-icon-size-xl);
    height: var(--lyrixi-icon-size-xl);
    font-size: var(--lyrixi-icon-size-xl);
  }

  &.lyrixi-size-xxl {
    width: var(--lyrixi-icon-size-xxl);
    height: var(--lyrixi-icon-size-xxl);
    font-size: var(--lyrixi-icon-size-xxl);
  }

  &.lyrixi-size-xxxl {
    width: var(--lyrixi-icon-size-xxxl);
    height: var(--lyrixi-icon-size-xxxl);
    font-size: var(--lyrixi-icon-size-xxxl);
  }
}

.lyrixi-icon-svg {
  display: block;
  width: 100%;
  height: 100%;
  flex-shrink: 0;
  fill: currentColor;
}
