@import 'Button/NavBarButton.less';
@import 'Title/NavBarTitle.less';

.lyrixi-navbar {
  display: flex;
  align-items: center;
  height: 46px;
  flex: none;
  margin: 0 12px;
}

.lyrixi-navbar-button+.lyrixi-navbar-button {
  margin-left: 8px;
}