// 搜索控件
.lyrixi-map-searchControl-navigation {
  box-shadow: 0px 2px 7px 0px rgba(35, 63, 92, 0.2);

  position: absolute;
  top: 12px;
  right: 12px;
  left: 12px;
  z-index: 1;
}

.lyrixi-map-searchControl-page {
  z-index: 2;
  background-color: white;
}

.lyrixi-map-searchControl-header {
  padding: 12px;
}

.lyrixi-map-searchControl-main {
  position: relative;
  flex: 1;
  overflow: auto;
  background-color: white;
}