@import 'Combo/MessageCombo.less';
@import 'Modal/MessageModal.less';
@import 'Header/MessageHeader.less';
@import 'Main/MessageMain.less';
@import 'Footer/MessageFooter.less';
@import 'Title/MessageTitle.less';
@import 'Button/MessageButton.less';

.lyrixi-message-icon {
  display: block !important;
  margin: 0 auto;
}

.lyrixi-message-icon + .lyrixi-message-title {
  margin-top: 12px;
}
