@import '../../assets/variables.less';

.lyrixi-stamp {
  display: inline-block;
  --color-rgb: var(--seed-primary-rgb);
  --bg-opacity: 0.5;
  color: rgb(var(--color-rgb));
  border: 6px solid rgba(var(--color-rgb), var(--bg-opacity));

  transform: rotate(-15deg);
  background-color: rgba(255, 255, 255, 0.8);

  .lyrixi-stamp-inner {
    font-size: 14px;
    letter-spacing: 0;
    font-weight: 600;
    border: 1px solid rgba(var(--color-rgb), var(--bg-opacity));
  }

  // 形状: 方形
  &.lyrixi-stamp-rect {
    padding: 5px 10px;

    .lyrixi-stamp-inner {
      padding: 0px 15px;
    }
  }

  // 形状: 圆形
  &.lyrixi-stamp-round {
    border-radius: 100%;
    padding: 6px;
    width: 50px;
    height: 50px;

    .lyrixi-stamp-inner {
      display: flex;
      width: 100%;
      height: 100%;
      padding: 0px;
      justify-content: center;
      align-items: center;
      border-radius: 100%;
    }
  }
}

// 颜色控制
.lyrixi-stamp {
  &.lyrixi-primary {
    color: var(--lyrixi-primary);
    background-color: var(--lyrixi-primary-lighten);
    border-color: lighten(@lyrixi-primary, 90%);


    .lyrixi-stamp-inner {
      border-color: inherit;
    }
  }

  &.lyrixi-info {
    color: var(--lyrixi-info);
    background-color: var(--lyrixi-info-lighten);
    border-color: lighten(@lyrixi-info, 90%);

    .lyrixi-stamp-inner {
      border-color: inherit;
    }
  }

  &.lyrixi-warning {
    color: var(--lyrixi-warning);
    background-color: var(--lyrixi-warning-lighten);
    border-color: lighten(@lyrixi-warning, 90%);

    .lyrixi-stamp-inner {
      border-color: inherit;
    }
  }

  &.lyrixi-danger {
    color: var(--lyrixi-danger);
    background-color: var(--lyrixi-danger-lighten);
    border-color: lighten(@lyrixi-danger, 90%);

    .lyrixi-stamp-inner {
      border-color: inherit;
    }
  }

  &.lyrixi-success {
    color: var(--lyrixi-success);
    background-color: var(--lyrixi-success-lighten);
    border-color: lighten(@lyrixi-success, 90%);

    .lyrixi-stamp-inner {
      border-color: inherit;
    }
  }

  &.lyrixi-disabled {
    color: var(--lyrixi-disabled);
    background-color: var(--lyrixi-disabled-lighten);
    border-color: lighten(@lyrixi-disabled, 90%);

    .lyrixi-stamp-inner {
      border-color: inherit;
    }
  }
}