// Input
.lyrixi-input-text,
.lyrixi-input-textarea,
.lyrixi-input-autoSize-textarea {
  line-height: 20px;
  &:extend(.lyrixi-appearance-none);

  display: block;
  box-sizing: border-box;

  &[disabled] {
    color: #b2b2b2;
    opacity: 1; // 解决iosdisabled颜色变淡的问题
    -webkit-text-fill-color: #b2b2b2; // 解决iosdisabled颜色变淡的问题
  }
}

.lyrixi-input-text,
.lyrixi-input-textarea {
  // 为了解决ios输入时白屏的BUG
  position: relative;
  flex: 1;
  // 解决flex1失效的问题
  min-width: 0;
}

// Input: 失焦时显示(不能用flex, 否则text-center不生效)
.lyrixi-input-formatter {
  line-height: 20px;
  pointer-events: none;

  position: absolute;
  width: 100%;
  z-index: 1;
  box-sizing: border-box;
  overflow: hidden;
}

// formatter单行文本框一行显示, 多行则多行显示
.lyrixi-input-text + .lyrixi-input-formatter {
  // overflow-x: auto;
  white-space: nowrap;
  overflow: hidden;
  top: 50%;
  transform: translateY(-50%);
}

.lyrixi-input-autoSize + .lyrixi-input-formatter,
.lyrixi-input-textarea + .lyrixi-input-formatter {
  top: 0;
  bottom: 0;
}

// Formatter
.lyrixi-has-formatter {
  // 失焦隐藏框
  .lyrixi-input-text,
  .lyrixi-input-textarea,
  .lyrixi-input-autoSize-textarea {
    opacity: 0;
  }

  // 获焦隐藏formatter, 显示框 (不兼容低端手机不要紧, 暂时无人使用Input.AutoSize的formatter)
  .lyrixi-input-autoSize:has(.lyrixi-input-autoSize-textarea:focus),
  .lyrixi-input-text:focus,
  .lyrixi-input-textarea:focus,
  .lyrixi-input-autoSize-textarea:focus {
    & + .lyrixi-input-formatter {
      opacity: 0;
    }

    opacity: 1;
  }
}

.lyrixi-input-node {
  position: relative;
  display: flex;
  align-items: center;
  // 解决flex1失效的问题
  min-width: 0;
  flex: 1;
}

// Icon
.lyrixi-input-icon + .lyrixi-input-node {
  margin-left: 4px;
}

.lyrixi-input-node + .lyrixi-input-icon {
  margin-left: 12px;
}

// Size: 尺寸与 Input.NumberBox 一致
.input-text-size() {
  // .lyrixi-input-text,
  // .lyrixi-input-textarea,
  // .lyrixi-input-autoSize-textarea,
  // .lyrixi-input-autoSize-pre,
  // .lyrixi-input-formatter,
  // .lyrixi-input-node {
  //   font-size: var(--input-text-font-size);
  // }

  // text
  .lyrixi-input-text {
    height: var(--input-text-height);
  }

  // textarea
  .lyrixi-input-textarea,
  .lyrixi-input-textarea + .lyrixi-input-formatter {
    height: var(--input-textarea-height);
    padding: var(--input-textarea-padding) 0;
  }

  // autoSize
  .lyrixi-input-autoSize-textarea,
  .lyrixi-input-autoSize-pre,
  .lyrixi-input-autoSize + .lyrixi-input-formatter {
    min-height: 20px;
    padding: var(--input-textarea-padding) 0;
  }

  div.lyrixi-input-text.lyrixi-input-focus::after {
    height: var(--input-focus-after-height);
  }
}

.lyrixi-input.lyrixi-xl {
  --input-text-height: var(--lyrixi-height-xl);
  --input-textarea-height: 88px;
  --input-textarea-padding: 14px;
  --input-focus-after-height: 20px;
  .input-text-size();
}
.lyrixi-input.lyrixi-l {
  --input-text-height: var(--lyrixi-height-l);
  --input-textarea-height: 80px;
  --input-textarea-padding: 10px;
  --input-focus-after-height: 18px;
  .input-text-size();
}
.lyrixi-input.lyrixi-m {
  --input-text-height: var(--lyrixi-height-m);
  --input-textarea-height: 52px;
  --input-textarea-padding: 6px;
  --input-focus-after-height: 16px;
  .input-text-size();
}
.lyrixi-input.lyrixi-s {
  --input-text-height: var(--lyrixi-height-s);
  --input-textarea-height: 44px;
  --input-textarea-padding: 2px;
  --input-focus-after-height: 14px;
  .input-text-size();
}
.lyrixi-input.lyrixi-xs {
  --input-text-height: var(--lyrixi-height-xs);
  --input-textarea-height: 40px;
  --input-textarea-padding: 0px;
  --input-focus-after-height: 12px;
  .input-text-size();
}
